openapi: 3.0.1
info:
  title: TCS BaNCS Limit Management Microservice
  description: This service manages details and lifecycle of Limits
  contact:
    name: TCS BaNCS
    url: https://www.tcs.com/bancs
  version: 1.0.0
servers:
  - url: http://lm-poc-ec.apps.tcs-ocp.tcs.infra/limit-management
    description: Generated server url
paths:
  /limit/{limit-reference}:
    get:
      tags:
        - limit
      summary: Get limit details
      description: This API returns  record of credit, overdraft limit
      operationId: Get limit details
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: limit-reference
          in: path
          description: Unique Limit Reference
          required: true
          schema:
            type: integer
            format: int32
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/get-limit-details-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
    put:
      tags:
        - limit
      summary: Modify Limit details
      description: This API modifies a details of limit
      operationId: Modify Limit details
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: limit-reference
          in: path
          description: Limit Reference
          required: true
          schema:
            type: integer
            format: int32
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify-limit-details-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/modify-limit-details-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
    patch:
      tags:
        - limit
      summary: Approval workflow for Limit records.
      description: This API approve record of credit, overdraft limit
      operationId: Approval workflow for Limit records.
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: limit-reference
          in: path
          description: Limit Reference
          required: true
          schema:
            type: integer
            format: int32
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approve-limit-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/approve-limit-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit/quick/modify/{limit-reference}:
    put:
      tags:
        - limit
      summary: Modify Quick Setup Limit Details
      description: This Api modify Credit Limit ,Overdraft Limit, TempOverdraft Limit Detail
      operationId: Modify Quick Setup Limit Details
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: limit-reference
          in: path
          description: Limit Reference
          required: true
          schema:
            type: integer
            format: int32
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify-quick-setup-limit-details-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/modify-quick-setup-limit-details-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /groups/{group-name}:
    get:
      tags:
        - groups
      summary: Get Groups record
      description: This API returns record group of Customer,Account.
      operationId: Get Groups record
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: group-name
          in: path
          description: Unique name of group
          required: true
          schema:
            maxLength: 65
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/get-groups-record-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
    put:
      tags:
        - groups
      summary: Modify Group
      description: This API modifies records group of customer ,Account.
      operationId: Modify Group
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: group-name
          in: path
          description: Group Name
          required: true
          schema:
            maxLength: 65
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify-group-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/modify-group-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
    patch:
      tags:
        - groups
      summary: Approval workflow for group records
      description: This API approve record group of Customer,Account.
      operationId: Approval workflow for group records
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: group-name
          in: query
          description: Group Name
          required: true
          schema:
            maxLength: 65
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approval-workflow-for-group-records-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/approval-workflow-for-group-records-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit:
    get:
      tags:
        - limit
      summary: Get internal limit based on external limit
      description: Get internal limit based on external limit
      operationId: Get internal limit based on external limit
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls, will be used as an idempotent key along with UUID, UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
        - name: external-root-reference
          in: query
          description: External root reference
          required: false
          schema:
            maxLength: 35
            minLength: 0
            type: string
        - name: root-limit-reference
          in: query
          description: Root Limit Reference
          required: false
          schema:
            type: integer
            format: int32
        - name: limit-on-reference
          in: query
          description: Unique reference of the Limit On
          required: false
          schema:
            maxLength: 65
            minLength: 0
            type: string
        - name: committed/uncommitted
          in: query
          description: Flag - Overdraft or Minimum credit Balance
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LMControllerLMET04039GetIntrnlLmtExtrnlLmtAPIOutObject'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
    post:
      tags:
        - limit
      summary: Create Limit
      description: This API Creates credit,overdraft,Tempoverdraft,chequepurchase limit
      operationId: Create Limit
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-limit-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/create-limit-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit/quick:
    post:
      tags:
        - limit
      summary: Create Quick SEt Limit
      description: This Api create credit Limit,Overdraft Limt,TempOverdraft Limt.
      operationId: Create Quick SEt Limit
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-quick-set-limit-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/create-quick-set-limit-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit-change-schedule:
    post:
      tags:
        - limit-change-schedule
      summary: Create limit change schedule
      description: This API create limit change schedule
      operationId: Create limit change schedule
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls, will be used as an idempotent key along with UUID, UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create-limit-change-schedule-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Create-limit-change-schedule-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /groups:
    post:
      tags:
        - groups
      summary: Create Groups
      description: This API Creates  a group for a customer,Account or missilenious
      operationId: Create Groups
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-groups-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/create-groups-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /{change-schedule-id}/limit-change-schedule:
    patch:
      tags:
        - limit-change-schedule
      summary: Approval of limit change schedule
      description: This API approve limit change schedule details
      operationId: Approval of limit change schedule
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls, will be used as an idempotent key along with UUID, UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
        - name: change-schedule-id
          in: path
          description: Change Schedule Id
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approval-of-limit-change-schedule-request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/approval-of-limit-change-schedule-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /{customer-reference}/customer-limit:
    get:
      tags:
        - limit
      summary: Check customer limit
      description: This API returns if a limit has been defined for a customer
      operationId: Check customer limit
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: customer-reference
          in: path
          description: Customer's Unique reference
          required: true
          schema:
            maxLength: 35
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls; will be used as an idempotent key along with UUID; UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/check-customer-limit-response'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /position-list/{customer-reference}/{level}/{level-reference}/{date}/{balance-type}/{balance-currency}:
    get:
      tags:
        - position-list
      summary: Fetch Position List record
      description: This api return list record of Account,Account Group,Customer,Customer Group Level
      operationId: Fetch Position List record
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls, will be used as an idempotent key along with UUID, UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
        - name: customer-reference
          in: path
          description: Customer Reference
          required: true
          schema:
            maxLength: 35
            minLength: 0
            type: string
        - name: level
          in: path
          description: Level from given Account, Account Group, Customer,Customer
          required: true
          schema:
            type: integer
            format: int32
        - name: level-reference
          in: path
          description: Level reference according to Level
          required: true
          schema:
            type: integer
            format: int32
        - name: date
          in: path
          description: Date
          required: true
          schema:
            type: string
            format: date
        - name: balance-type
          in: path
          description: Balance Type
          required: true
          schema:
            type: integer
            format: int32
        - name: balance-currency
          in: path
          description: Balance Currency
          required: true
          schema:
            maxLength: 3
            minLength: 0
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LMControllerLMET04042FetchPositionListRecAPIOutObject'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit/{utilisation-history-sequence}/limit-utilisation/history:
    get:
      tags:
        - limit-utilisation
      summary: Get Limit utilisation history
      description: This api return  record of Limit utilisation history
      operationId: Get Limit utilisation history
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
          description: Identifier for the mode of service to customer when initiated from TCS BaNCS branch channel
          required: false
          schema:
            type: integer
            format: int32
        - name: api-version
          in: header
          description: Identifier for API version
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: internal-transaction-ref
          in: header
          description: BaNCS internal reference number for the transaction. In the request, the value will be blank. This will be generated by BaNCS and will be sent as part of the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: trace-id
          in: header
          description: Unique request identifier for distributed tracing
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: span-id
          in: header
          description: Unique identifier for the segment under a given trace id
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: im-req-id
          in: header
          description: Unique identifier for Intermicroservice calls, will be used as an idempotent key along with UUID, UUID_SEQ_NO
          required: false
          schema:
            type: integer
            format: int64
          example: 1
        - name: utilisation-history-sequence
          in: path
          description: Utilisation history Sequence
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LMControllerLMET04036GetLmtUtilHistAPIOutObject'
                  - $ref: '#/components/schemas/api-messages'
        '400':
          description: INVALID INPUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
        '500':
          description: FAILURE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-messages'
  /limit/{limit-reference}/hierarchy:
    get:
      tags:
        - limit
      summary: Get Limit hierarchy
      description: This API returns limit hierarchy details
      operationId: Get Limit hierarchy
      parameters:
        - name: auth-token
          in: header
          description: Authentication token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: access-token
          in: header
          description: Authorization token to validate the caller
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: initiating-system-id
          in: header
          description: Identifier for the initiating system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: external-user-ref
          in: header
          description: Identifier for the external system user
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: user-id
          in: header
          description: Identifier for the BaNCS user
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: channel-type
          in: header
          description: 'Identifier for the channel from where the transaction has originated (Internet, Mobile, ATM, Branch Channel). 1:Web, 2:Mobile,3:ATM,4:Branch-Channel '
          required: false
          schema:
            type: integer
            format: int32
        - name: uuid
          in: header
          description: Unique identifier for the transaction, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
        - name: uuid-seq-no
          in: header
          description: Indicates the sequence in which the API is invoked under a single UUID scope, set by the invoking system
          required: false
          schema:
            maxLength: 256
            minLength: 0
            type: string
          example: 1
        - name: entity
          in: header
          description: Identifier for the entity under which the transaction is originated
          required: true
          schema:
            maxLength: 15
            minLength: 0
            type: string
          example: GBANKOU001
        - name: language-code
          in: header
          description: Language in which the message should be returned (Error or Success) 1:English(Default)
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        - name: run-mode
          in: header
          description: Indicates the execution context of API invocation, like Online/Batch/SI. 1:Online, 2:Batch, 4:SI-Interface
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: branch-no
          in: header
          description: Identifier for transacting branch
          required: false
          schema:
            maxLength: 15
            minLength: 0
            type: string
        - name: service-mode
          in: header
[...]
